// Colors
//green
$dark-green: #377E00;
$medium-dark-green: #4FB600;
$green: #6AE60B;
$medium-light-green: #92E84F;
$light-green: #F0F8E9;

//blue
$dark-blue: #041B60;
$medium-dark-blue: #0B2B8B;
$blue: #1C43B7;
$medium-light-blue: #4E6ABC;
$light-blue: #DFE2EB;

//yellow
$dark-yellow: #8E7500;
$medium-dark-yellow: #CEA900;
$yellow: #FFD40D;
$medium-light-yellow: #FFE157;
$light-yellow: #FFFCF0;

//grays
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Background Colors
$base-background-color: $light-green;
$secondary-background-color: $green;
