@mixin margin-control() {
  margin: 0 8% 0 8%;

  @media screen and (max-width: $grid-width-tablet) {
    margin: 0 1% 0 1%;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $base-background-color;
}

header {
  background-color: $secondary-background-color;
}

.app-header {
  @include margin-control;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

main {
  @include margin-control;
  @include grid-container;
}
