.song
  %h1= @song.title
  .result-info
    = link_to t(".artist", name: @song.artist.full_name), artist_path(@song.artist)
    = link_to t(".album", name: @song.album.title), album_path(@song.album)
