.search-results#search-results
  -if @search.results?
    .search-results__subheader
      %h4= t("searches.show.results_length", length: @search.results.count, for: @search.query)
    .search-results__results
      = render @search.results
