.search-form
  = simple_form_for @search, html: { id: "general-search"}, url: searches_path, method: :get do |form|
    = form.input :query, label: false
    = form.submit "Search", id: "general-search-button", data: { disable_with: false }
