$grid--trending: (
  columns: 1,
  gutter: 20px,
);

$grid--trending-tablet-up: (
  columns: 5,
  gutter: 50px,
  media: $grid-width-tablet,
);

.trending_artists__title {
  text-align: center;
  color: $dark-yellow;
  font-size: $font-large;
  background-color: $medium-light-yellow;
}

.trending_artists {
  margin-top: 2em;
  @include grid-collapse($grid--trending);
  @include grid-container;
}

.artist__title {
  font-size: $font-large;
  @include padding(1em null)
}

.artist_column {
  text-align: center;
  @include grid-column(1, $grid--trending);

  @include grid-media($grid--trending-tablet-up) {
    @include grid-column(1, $grid--trending-tablet-up);
  }
}
