.song-result {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 0 ($base-spacing / 2);
  @include border-style(null null solid null);
  @include border-width($base-border-radius / 2);
  @include border-color(null null $medium-dark-yellow null);
  @include border-bottom-radius($base-border-radius);
  @include border-top-radius($base-border-radius);
}

.song-result__title {
  flex-grow: 1;
  max-width: 250px;
}

.song-result__info {
  display: flex;
  flex-wrap: wrap;
  padding: ($base-spacing /3) 0;
  p {
    flex-grow: 0;
    display: block;
    padding: 0 ($base-spacing / 2);
    color: $medium-dark-green;
  }
}

.song-result__dark-green {
  display: inline-block;
  color: $dark-green;
}
