.song {
  width: 100%;
  height: 60px;
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 0 ($base-spacing / 2);
  @include border-style(null null solid null);
  @include border-width($base-border-radius / 2);
  @include border-color(null null $medium-dark-yellow null);
  @include border-bottom-radius($base-border-radius);
  @include border-top-radius($base-border-radius);
}

.song__title {
  flex-grow: 1;
}

.song__result-info {
  display: flex;
  padding: $base-spacing;
  p {
    flex-grow: 1;
    padding: 0 ($base-spacing / 2);
    color: $medium-dark-green;
  }
}
